@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Sofia Dorozhanskaya, AMM VSU junior</p>

<address>
    <strong>CV:</strong>   <a href="https://voronezh.hh.ru/applicant/resumes/view?resume=970b624eff07eab06b0039ed1f386b58625648">hh.ru/sadorozhanskaya</a><br />
    <strong>Gmail:</strong> <a href="mailto:sadorozhanskaya@gmail.com">sadorozhanskaya@gmail.com</a>
</address>